/* google fonts style lik start.....
.......................................... */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');


/* google fonts style link end.........
........................ */

/* body -common style start........
.....................................*/

body{

    font-family: 'Montserrat', sans-serif;

    background-color: #AAAAAA;;
}

/* ....common style end......
........................ */
/* ..................................................................... */

/* header section start */


.nav{

    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    box-shadow: 1px 1px 1px whitesmoke;
}

.nav-menu> ul >a{

    text-decoration: none;

   

    
}

.nav-menu> ul{

    display: flex;
    list-style: none;
    
    
}

.nav-menu> ul > a > li{

    margin: 15px;
    color: #3A3A3A;
    
}

.nav-menu> ul > a > i{

    margin: 15px;
    color: #3A3A3A;
}
/* header section end */

/* main-camera-section start..........
........................... */

.main-section{

    
    background-color: white;
    margin: 3px;
    padding: 100px;
}

/* main camera start.........
................ */

.main-camera{

    display: flex;
    margin-bottom: 69px;
}

/* main-camera-text margin bottom */


.main-camera-text p{

    margin-bottom: 26px;


}

/* button class */
.button{

    background-color:  #E02C6D;
    color: white;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 24px;
   padding-right: 56px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    width: 116px;
    height: 24px;
    
    
}

/* main-camera-image resize */

.main-camera-image img{

    width: 440px;
    height: 414px;
  
   
}
/* image transform transition hover */

.main-camera-image:hover{

    transform: scale(1.3);
    transition: transform 5s ease-in 1s;
}

/* main-camera-image background */

.main-camera-image{

    background-image: url(images/Circle\ design.svg);
}

/* main-camera-section end............
.......................... */

/* ....................................................................... */

/* company logo start.............
..................................... */

/* company-logo display */

.company-logo{

    display: flex;
    justify-content: space-between;
    padding: 43px;
    box-shadow: 0.5px 0.5px 0.5px #eeeeee;
    margin-bottom: 100px;
}

/* company logo end.................
............................. */

/* ................................................................. */

/* popular collection section start..........
........................................... */

/* section title */
.collection-title{

    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A ;
    height: 70px;

}

/* collection display */

.collection-div{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 30px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.collection{

    margin-bottom: 10px;

    box-shadow: 20px 20px 30px whitesmoke;
}

/* star font color */
.fa-star{

    color: orange;
}

.fa-star-half-stroke{

    color: orange;
}

/* popular collection section end....................
.................................... */

/* right button start ..................
............................................*/

.right-button {
    text-align: end;
   
    
}

.right-button a{

    text-decoration: none;
    color: orange;
}

/* right-button end......................
.................................................. */
/* ............................................................................. */

/* feature products section start.....................
......................................... */

.feature-products{

    margin-top: 40px;

    margin-left: 30px;

    margin-bottom: 50px;
}

.feature-product{

    display: flex;
    /* justify-content: space-between; */
}

.product-details{


    margin-left: 60px;
}

/* feature products section end.......................
.............................................................. */

/* text-form start....................
............................................................... */

.text-form{

    text-align: center;
    margin: 50px;
    color: orange;
}

/* text form end.................................
......................................................... */

/* footer section start */

.footer{

   
    background-color: black ;
    margin-left: 20px;
}

/* ............................................................................. */





.footer-text{

    color: white;
    text-align: center;

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

}

.footer-img .fa-square-instagram{
    color: white;
    margin-right: 10px;

    
}

.footer-img .fa-square-twitter{
    color: white;
    margin-right: 10px;

    
}

.footer-img .fa-youtube{
    color: white;
    margin-right: 10px;

    
}

.footer-img .fa-facebook{
    color: white;
    margin-right: 10px;

    
}

.footer-img{

    display: flex;
    justify-content: center;
    padding-bottom: 50px;
   
   
}




/* footer section end */


/* media query start for mobile device.......................
............................... */

@media only screen and (max-width:767px) {

    .nav{

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 50px;
        box-shadow: 1px 1px 1px whitesmoke;
    }

    .nav-menu> ul{

        display: flex;
        flex-direction: column;
        list-style: none;
        
        
    }

    /* .......................................... */


    .main-camera{

    display: flex;
    flex-direction: column;
    margin-bottom: 69px;
}


/* button class */
.button{

    background-color:  #E02C6D;
    color: white;
   /* padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 2px;
   padding-right: 5px; */
    text-decoration: none;
    border-radius: 5px;
    /* font-size: 6px; */
    /* font-weight: 700; */
    /* width: 5px;
    height: 4px; */
    
    
}

/* main-camera-image resize */

.main-camera-image img{

    width: 200px;
    height: 200px;
  
   
}


/* company-logo display */

.company-logo{

    display: flex;
    flex-direction: column;
     justify-content: space-between; 
   
    padding: 43px;
    /* box-shadow: 0.5px 0.5px 0.5px #eeeeee; */
    margin-bottom: 100px;
}

.logo{

    margin: 25px;
}


.collection-div{

    display: grid;
    grid-template-columns: repeat(1, 1fr);
     /* margin-left: 1px;  */
    /* grid-column-gap: 50px; */
    /* grid-row-gap: 50px; */
    align-items: center;
}

.feature-products{

    margin-top: 40px;

    /* margin-left: 30px; */

    margin-bottom: 50px;
}

.feature-product{

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.product-details{


    /* margin-left: 60px; */
}

.footer{

   
    background-color: black ;
    /* margin-left: 20px; */
}

.main-section{

    
    background-color: white;
    /* margin: 3px; */
    /* padding: 100px; */
}

}

/* media query end for moblile device....................................
.................................................. */
